

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

body{
   text-align: center;
}

#counter{

   position: relative;
   display: inline-block;

    margin-top: 120px;
   background-color: #01FF70;
    text-align: center;

   padding: 10px 14px;


   cursor: pointer;

   &:active{
      top: 2px;
      left: 2px;

   }
}
